<nav id="site-navigation">
                <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Primary Menu</button>
                    <div class="menu-%e3%83%95%e3%83%83%e3%82%bf%e3%83%bc-container"><ul id="primary-menu" class="menu"><li id="menu-item-4821" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4821"><a href="{% url 'blog:about' %}">
О НАС</a></li>

</li>
<li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-64"><a href="{% url 'shop:product_list' %}">МАГАЗИН</a>
<ul class="sub-menu">

</ul>
</li>
<li id="menu-item-67" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-67"><a href="https://tozando.com/support/">ПОДДЕРЖКА</a>
<ul class="sub-menu">
	<li id="menu-item-68" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68"><a href="{% url 'blog:contact' %}">Свяжитесь с нами</a></li>
	<li id="menu-item-848" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-848"><a href="{% url 'blog:contact' %}">Запрос каталога</a></li>
	<li id="menu-item-849" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-849"><a href="https://tozando.com/support/customer/">Корпоративные клиенты</a></li>
</ul>
</li>