<div class="menu-header-container">
    <ul id="primary-menu" class="menu">
        <li class="menu-item"><a href="{% url 'blog:about' %}">О НАС</a></li>
        <li class="menu-item menu-item-has-children"><a href="support">ПОДДЕРЖКА</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="{% url 'blog:contact' %}">Свяжитесь с нами</a></li>
{#                <li class="menu-item"><a href="{% url 'corporate' %}">Корпоративные клиенты</a></li>#}
            </ul>
        </li>
        <li class="menu-item"><a href="{% url 'shop:product_list' %}">МАГАЗИН</a></li>
{#        <li class="lang-item"><a href="{% url 'home_en' %}" hreflang="en-US" lang="en-US">EN</a></li>#}
    </ul>
</div>